<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <ul class="navbar-nav">
        <li class="navbar-brand" href="/">Intelligentsia
            <img src="https://i.imgur.com/ob1bn4c.png" height="20" width="auto">
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/admin/logout">Logout<span class="sr-only">(current)</span></a>
        </li>
    </ul>
</nav>
<div class="d-flex align-items-center justify-content-center emblem">
    <img src="https://i.imgur.com/ob1bn4c.png">
</div>
<div class="flex-row d-flex justify-content-between">
    <div class="col-6 justify-content-start">
        <h3>Cafe Input</h3>
        <form class="d-flex flex-column align-items-center justify-content-center signup" method="post" action="/store">
            <div class="col-5">
                    <input type="text" class="form-control" name="storename" placeholder="Store Name">
            </div>
            <div class="col-5">    
                    <input type="text" class="form-control" name="address" placeholder="Address">
            </div>
            <div class="col-5">
                    <input type="text" class="form-control " name="phonenumber" placeholder="Phone Number">
            </div>
            <div class="col-5">
                    <input type="text" class="form-control " name="prizecode" placeholder="Prize Code">
            </div>
            <button type="submit" class="btn btn-primary col-3">Submit</button>
        </form>
    </div>
    <div class="col-6 justify-content-end">
        <h3>Cafes</h3>
        <div class="card example-1 scrollbar">
            <div class="card-body storelist d-flex flex-column align-items-center">
                <div class="storelist">
                    <% if (success) { %>
                        <% stores.forEach(s => { %>
                            <p class="storetop"><%= s.storename %></p>
                            <p><%= s.address %></p>
                            <p><%= s.phonenumber %></p>
                            <p class="storebottom"><%= s.prizecode %></p>
                            <div class="flex-row d-flex justify-content-start">
                            <form method="post" action="/store/<%= s.id %>?_method=DELETE">
                            <input type="submit" name="_method" value="DELETE">
                            </form>
                            <form action="/store/<%= s.id %>/edit">
                                <input type="submit" value="Edit" />
                            </form>
                            </div>
                        <% }) %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>